---
title: Artists Alley
---
<div class="side-submenu col-sm-3 float-right">
  <a href="/AB-Site-Redesign/activities/art_track.html" class="btn btn-secondary">
    Featured Artists
  </a>
  <a href="/AB-Site-Redesign/applications/dealers/dealers_info.html" class="btn btn-secondary">
    Are you an Exhibitor?
  </a>
  <a href="/AB-Site-Redesign/applications/artists/artists_alley_info.html" class="btn btn-secondary">
    Are you an Artist?
  </a>
</div>

<h1>2020 Artists Alley</h1>

<div class="row">
  <div class="col">
    <p>Please select a year to view its Artists' Alley Listing</p>
    <ul class="years-menu">
      {% for year in (2009..2021) reversed %}
        <li>
          <a href="#">{{ year }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <a href="https://www.animeboston.com/images/artists/artists_alley_2019.png">
      <img class="img-fluid" src="https://www.animeboston.com/images/artists/artists_alley_2019_small.png">
    </a>
    <br>
    <em>Click for larger view.</em>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-4">
    <table class="table table-striped">
      <tr>
        <th>Row</th>
        <th>Table</th>
        <th>Name</th>
      </tr>
      {% for artist in site.data.artists %}
      {% assign threshold = forloop.length | divided_by: 3 %}{% assign temp = threshold | times: 3 %}{% assign temp = forloop.length | minus: temp %}{% assign threshold = threshold | plus: temp %}{% assign remainder = forloop.index | modulo: threshold %}
      <tr>
        <td>{{ artist.booth_row }}</td>
        <td>{{ artist.booth_table }}</td>
        <td><a href="{{ artist.site_url }}" target="_blank">{{ artist.listing }}</a></td>
      </tr>
      {% if remainder == 0 %}
    </table>
  </div>
  <div class="col-md-12 col-lg-4">
    <table class="table table-striped">
      <tr>
        <th>Row</th>
        <th>Table</th>
        <th>Name</th>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
