---
title: Charity Auction Listing
---
<h1>Charity Auction Listing</h1>
<p>
  This is not a complete listing of auction items, as more items are still being finalized and donated right up to convention time.
  Items are subject to change in both time and availabity. Please visit our booth in the dealers room for the most up to date
  information and to enter our raffles! If you have any questions, comments, or concerns feel free to reach out to charity@animeboston.com.
  Follow us on <a href="https://www.facebook.com/AnimeBostonCharity" target="_blank">https://www.facebook.com/AnimeBostonCharity</a>!
</p>

<hr>

<h2>Charity Auction Items</h2>

{% for timeslot in site.data.charity_items %}
<h3>{{ timeslot.timeslot }}</h3>
  {% for item in timeslot.items %}
  <div class="row">
    <div class="col-sm-10">
      <strong>{{ item.title }}</strong>
      <p>{{ item.description }}</p>
    </div>
    {% if item.thumbnail_url != "" %}
    <div class="col-sm-2">
      <a href="{{ item.image_url }}" target="_blank">
        <img class="img-fluid img-thumbnail" src="{{ item.thumbnail_url }}">
      </a>
    </div>
    {% endif %}
  </div>
  <hr>
  {% endfor %}
{% endfor %}

<hr>

<h2>Raffle Baskets</h2>

<p>
  We feature several baskets that are raffled off on Saturday of the convention.
  Tickets are on sale at both our <strong>Registration Room Table</strong> and our <strong>Dealers Room Table</strong>
</p>

Ticket pricing is
<ul>
  <li>1 ticket for $1</li>
  <li>6 tickets for $5</li>
  <li>15 tickets for $10</li>
</ul>

<p>
  After purchasing a ticket, you must write on the back, a name and a phone number where you can be reached at the convention.
  If you are not present during the drawing, we will text you. We must hear back from you within 30 minutes after your ticket
  is drawn to confirm you will be picking it up. <strong>No raffle prizes will be mailed out</strong>.
  If we receive no response in the 30 minute time frame, a new winner will be drawn.
</p>

<p>All ticket sales benefit the National MS Society.</p>

Baskets we are offering this year include:
<ul>
  {% for raffle_basket in site.data.raffle_baskets %}
    <li><em>{{ raffle_basket.title }}</em> - {{ raffle_basket.description }}</li>
  {% endfor %}
</ul>
