---
title: Guests
---
<div class="row">
  <div class="col">
    <h1>Guests</h1>
  </div>
  <div class="col text-right">
    <a class="btn btn-secondary" href="/AB-Site-Redesign/activities/guest_faq.html">Frequently Asked Questions</a>
    <a class="btn btn-secondary" href="/AB-Site-Redesign/policy/#autograph">Autograph Policy</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Please select a year to view its Guests</p>
    <ul class="guest-years">
      {% for year in (2003..2021) %}
        <li>
          <a href="#">{{ year }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% for guest_section in site.data.guests %}
  <h2> {{ guest_section.title }}</h2>
  <div class="row">
    {% for guest in guest_section.guests %}
    <div class="col-12 col-lg-4 col-xl-3">
      <a href="#">
        <img class="img-fluid" src="https://via.placeholder.com/345x200">
        <span class="btn btn-primary media-button-link">
          {{ guest.name }}<br>
          <small><em>{{ guest.description }}</em></small>
        </span>
      </a>
    </div>
    {% endfor %}
  </div>
{% endfor %}
