---
title: Convention Policies
breadcrumb:
    <li class="breadcrumb-item"><a href="/AB-Site-Redesign/">Home</a></li>
    <li class="breadcrumb-item"><a href="/AB-Site-Redesign/attend">Attend</a></li>
    <li class="breadcrumb-item">Convention Policies</li>
---
<h1>Convention Policies</h1>

{% for policy in site.data.policy %}
<div class="policy-section">
  <button class="policy-header btn btn-primary" data-toggle="collapse" data-target="#{{ policy.section }}">
    <h2>{{ policy.title }}</h2>
  </button>
  <section id="{{ policy.section }}" class="policy-body collapse">
    {% capture policybody %}{% include policy/{{ policy.file }}.md %}{% endcapture %}
    {{ policybody | markdownify }}
  </section>
</div>
{% endfor %}
