<footer>
  <a href="/">Home</a> |
  <a href="/coninfo/convention_policies">Convention Policies</a> |
  <a href="/coninfo/privacy_policy">Privacy Policies</a> |
  <a href="/coninfo/contact/">Contact Us</a> |
  <a href="/search/">Site Search</a>
  <p>Copyright &copy; 2020, <a href="http://neanime.org/">New England Anime Society, Inc.</a></p>
  <!--[if lte IE 6]>
    <p>This website is best viewed in <a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx" target="new">Internet Explorer 7 or later</a>.
  <![endif]-->
</footer>
