<footer class="col-12">
  <div class="row">
    <section class="col-md-4">
      <h2>Important Stuff</h2>
      <div class="footer-subsection">
        <h3>Quick Links</h3>
        <ul class="footer-links">
          <li><a href="/AB-Site-Redesign/info/">Register Here</a></li>
          <li><a href="/AB-Site-Redesign/policy/convention_policy.html">Convention Policies</a></li>
          <li><a href="/AB-Site-Redesign/policy/convention_faq.html">Convention FAQ</a></li>
          <li><a href="/AB-Site-Redesign/info/contact.html">Contact Us</a></li>
          <li><a href="#">Site Search</a></li>
        </ul>
      </div>
      <div class="footer-subsection">
        <h3>Upcoming Schedule</h3>
        <ul class="list-schedule">
          <li class="clearfix">
            <a class="schedule-link" href="https://www.animeboston.com">This is a really long news title that takes up a lot of room and I hope it displays properly</a>
            <span class="schedule-date">04/2/21 - 04/4/21</span>
          </li>
          <li class="clearfix">
            <a class="schedule-link" href="https://www.animeboston.com">Anime Boston 2021</a>
            <span class="schedule-date">04/2/21 - 04/4/21</span>
          </li>
          <li class="clearfix">
            <a class="schedule-link" href="https://www.animeboston.com">Anime Boston 2021</a>
            <span class="schedule-date">04/2/21 - 04/4/21</span>
          </li>
        </ul>
      </div>
    </section>
    <section class="col-md-4">
      <h2>Latest News</h2>
      <div class="footer-subsection">
        <h3>
          Anime Boston 2020 Commemorative Tumbler
          <span class="news-subtitle">
            By: Ngan
            Date: May 9, 2020 10:59 PM EST
          </span>
        </h3>
        <p>Merch!</p>
      </div>
      <div class="footer-subsection">
        <h3>
          A Special Gift from Crunchyroll
          <span class="news-subtitle">
            By: Rachel
            Date: April 10, 2020 12:00 AM EST
          </span>
        </h3>
        <p>Our friends at Crunchyroll have a little something for all of their fans!</p>
      </div>
      <div class="footer-subsection">
        <h3>
          Anime Boston 2020 Cancellation Announcement
          <span class="news-subtitle">
            By: Rachel
            Date: April 10, 2020 12:00 AM EST
          </span>
        </h3>
        <p>Please read for important information from our Convention Chair</p>
      </div>
      <div class="footer-subsection">
        <h3>
          Our latest round of Guests are Lauren Landa and, of course, Greg Ayres!
          <span class="news-subtitle">
            By: Rachel
            Date: April 10, 2020 12:00 AM EST
          </span>
        </h3>
        <p>This marks Landa's third and Ayres' sixteenth Anime Boston appearance!</p>
      </div>
    </section>
    <section class="col-md-4 footer-section">
      <div class="footer-subsection">
        <h2>Featured Photo</h2>
        <a href="https://gallery.animeboston.com/p1023243068/edf3d0dbb">
          <img class="img-fluid" src="https://gallery.animeboston.com/img/s/v-10/p3745320379-2.jpg" alt="Anime Unscripted" title="Anime Unscripted">
        </a>
        <a href="http://gallery.animeboston.com" class="gallery-link">VISIT OUR GALLERY</a>
      </div>
      <div class="footer-subsection text-center">
        <h2>Communities</h2>
        <a class="social-icon" href="https://forums.animeboston.com"><img title="Anime Boston Forums" alt="Anime Boston Forums" src="https://s3.amazonaws.com/www-ab/img/forums.png"></a>
        <a class="social-icon" href="https://www.facebook.com/AnimeBoston"><img title="Anime Boston Facebook" alt="Anime Boston Facebook" src="https://s3.amazonaws.com/www-ab/img/facebook.png"></a>
        <a class="social-icon" href="https://twitter.com/AnimeBoston"><img title="Anime Boston Twitter" alt="Anime Boston Twitter" src="https://s3.amazonaws.com/www-ab/img/twitter.png"></a>
        <a class="social-icon" href="https://www.youtube.com/AnimeBostonTV"><img title="Anime Boston YouTube" alt="Anime Boston YouTube" src="https://s3.amazonaws.com/www-ab/img/youtube.png"></a>
        <a class="social-icon" href="https://tumblr.animeboston.com"><img title="Anime Boston Tumblr" alt="Anime Boston Tumblr" src="https://s3.amazonaws.com/www-ab/img/tumblr.png"></a>
        <a class="social-icon" href="https://www.instagram.com/animeboston_official/"><img title="Anime Boston Instagram" alt="Anime Boston Instagram" src="https://s3.amazonaws.com/www-ab/img/instagram.png"></a>
        <a class="social-icon" href="/community/rss/"><img title="Anime Boston RSS FEED" alt="Anime Boston RSS FEED" src="https://s3.amazonaws.com/www-ab/img/rss.png"></a>
      </div>
    </section>
  </div>
  <div class="row">
    <div class="col-12 footer-copyright">
      <p>Copyright &copy; 2020, <a href="http://neanime.org/">New England Anime Society, Inc.</a></p>
    </div>
  </div>
</footer>
