<nav class="navbar navbar-expand-lg top-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation" onclick="scrollToTop()">
    <span class="oi oi-menu"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Info</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/info">Attend/Registration</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/contact.html">Contact Us</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/staff_listing.html">Staff Listing</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/location.html">Around Boston</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/about.html">About Anime Boston</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Activities</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/activities">Programming</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/activities/guests.html">Guests</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/activities/exhibitors.html">Dealers Room</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/activities/artist_alley.html">Artists Alley</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/activities/cosplay/">Cosplay</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/activities/live_gaming.html">Live Gaming</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/activities/charity.html">Charity Auction</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/activities/media.html">Media</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Participation</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/participation/amv/index.html">AMV Contest</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/participation/blood_drive.html">Blood Drive</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/participation/panels/">Panel Application</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/participation/cosplay/index.html">Cosplay Events</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/participation/cosplay_gatherings.html">Cosplay Gatherings</a>
          <a class="dropdown-item" href="https://forums.animeboston.com/viewforum.php?f=5">Cosplay Forums</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/participation/photo_suite.html">Photo Suite</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Exhibitors</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/exhibitors/dealers">Dealers</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/exhibitors/artists">Artists</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/exhibitors/artshow">Art Show</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/exhibitors/communityrow">Community Row</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/press">Press</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Volunteer</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/">Staff Guidelines</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/staffhq/">Staff HQ</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/support_squad/">Support Squad</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/admin">Admin</a>
      </li>
    </ul>
    <form id="form-search" name="form-search" class="my-2 my-lg-0" action="/search" method="get">
      <div class="input-group">
        <input type="search" class="form-control" name="q" placeholder="Google Search" />
        <span class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <span class="oi oi-magnifying-glass"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</nav>
