<div class="top-nav">
  <div class="row">
    <div class="col-sm-12">
      <form id="form-search" name="form-search" action="/search" method="get">
        <div class="input-group">
          <input type="search" class="form-control" name="q" placeholder="Google Search" />
          <span class="input-group-append">
            <button type="submit" class="btn btn-secondary">
              <span class="oi oi-magnifying-glass"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<nav class="main-nav">
  <ul>
    <li><a href="{{site.path}}attend">Attend</a></li>
    <li><a href="{{site.path}}see">See</a></li>
    <li><a href="{{site.path}}do">Do</a></li>
    <li><a href="{{site.path}}sell">Sell</a></li>
    <li><a href="{{site.path}}work">Work</a></li>
  </ul>
</nav>
