<nav class="navbar navbar-expand-lg top-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation" onclick="scrollToTop()">
    <span class="oi oi-menu"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Information</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/info/programming_schedule.html">Programming Schedule</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/online_registration.html">Registration</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/hotel_information.html">Hotel Information</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/travel_information.html">Travel Information</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/activities/activities.html">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/applications/applications.html">Applications</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">About</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/about/about.html">About Us</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/staff_listing.html">Staff Listing</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/location.html">Around Boston</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/media.html">Media</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Volunteer</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/">Staff Guidelines</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/staffhq/">Staff HQ</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/support_squad/">Support Squad</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/contact.html">Contact Us</a>
      </li>
    </ul>
    <form id="form-search" name="form-search" class="my-2 my-lg-0" action="/search" method="get">
      <div class="input-group">
        <input type="search" class="form-control" name="q" placeholder="Google Search" />
        <span class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <span class="oi oi-magnifying-glass"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</nav>
