<div class="side-submenu col-lg-3">
  <div class="staffhq-header">
    <span class="staffhq-name">forum_username</span><br>
    Con Chair<br>
    <img src="https://forums.animeboston.com/download/file.php?avatar=17360_1394221987.jpg" width="120" height="120" alt="Avatar" class="staffhq-avatar img-fluid"/>
  </div>
  <a href="/AB-Site-Redesign/volunteer/staffhq/" class="btn btn-secondary">
    Staff HQ
  </a>
  <a href="/AB-Site-Redesign/volunteer/staffhq/profile.html" class="btn btn-secondary">
    My Profile
  </a>
  <a href="/AB-Site-Redesign/volunteer/staffhq/history.html" class="btn btn-secondary">
    My History
  </a>
  <a href="/AB-Site-Redesign/volunteer/staffhq/applications.html" class="btn btn-secondary">
    Staff Applications
  </a>
  <a href="/AB-Site-Redesign/volunteer/staffhq/food_cards.html" class="btn btn-secondary">
    Food Cards
  </a>
  <a href="/AB-Site-Redesign/volunteer/staffhq/legacy_staff_application.html" class="btn btn-secondary">
    Legacy Staff Application
  </a>
  <a href="https://forums.animeboston.com/ucp.php" class="btn btn-secondary">
    My Forum Profile
  </a>
  <a href="/AB-Site-Redesign/volunteer/staffhq/policies.html" class="btn btn-secondary">
    NEAS Policies
  </a>
  <a href="https://forums.animeboston.com/viewforum.php?f=19" class="btn btn-secondary">
    Staff Forums
  </a>
  <a href="http://mail.google.com/a/animeboston.com" class="btn btn-secondary">
    Staff Email
  </a>
  <a href="https://www.facebook.com/groups/802404273176794/" class="btn btn-secondary">
    2020 Facebook
  </a>
  <a href="https://www.facebook.com/groups/2563380287/" class="btn btn-secondary">
    Alumni Facebook
  </a>
  <a href="https://forums.animeboston.com/ucp.php" class="btn btn-secondary">
    Logout
  </a>
</div>
