---
title: Information
---
<div class="registration-jumbotron jumbotron text-center clearfix">
  <h1>Online Registration is OPEN!!</h1>
  <p>
    <span class="registration-counter">
      40,000 Tickets Remaining
      <span class="registration-counter-update">Updated June 18, 2020</span>
    </span>
  </p>
  <div class="float-right text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Register for AB</a>
    <br>
    <small><a href="/AB-Site-Redesign/policy.html">Registration Policy</a></small>
  </div>
</div>

<div class="row">
  {% for information in site.data.information %}
  <div class="col-12">
    <div class="collapse-section">
      <button class="collapse-header btn btn-secondary" data-toggle="collapse" data-target="#{{ information.section }}">
        <h2>{{ information.title }}</h2>
      </button>
      <section id="{{ information.section }}" class="collapse-body collapse">
        {% if information.html %}
          {% include information/{{ information.file }}.html %}
        {% else %}
          {% capture informationbody %}{% include information/{{ information.file }}.md %}{% endcapture %}
          {{ informationbody | markdownify }}
        {% endif %}
      </section>
    </div>
  </div>
  {% endfor %}
</div>





- Actually Attending AB
X Online Registration
X Group Registration
X Registration Rates
X Registration Cap
X Registration Events
X Registration Policy
X Registration FAQ
X Hotel Information
X Travel Information
X Hotel Code of Conduct
X Location FAQ
X Contact Us

- About Anime Boston
About Us
Anime Boston History

- About Boston
Area Dining
Points of Interest
Tipping Guide
