---
title: Programming Schedule
layout: full
---
<div class="side-submenu col-sm-2 float-right">
  <a href="/AB-Site-Redesign/info/hours_of_operation.html" class="btn btn-secondary">
    Hours of Operation
  </a>
  <a href="/AB-Site-Redesign/activities/autograph_schedule.html" class="btn btn-secondary">
    Autograph Schedule
  </a>
</div>

<h1>Programming Schedule</h1>

<div class="row">
  <div class="col">
    <p>Please select a year to view its Programming Schedule</p>
    <ul class="years-menu">
      {% for year in (2009..2021) reversed %}
      <li>
        <a href="#">{{ year }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<ul>
  <li><a href="#legend">Schedule Legend</a></li>
  <li><a href="#Fri">Friday Schedule</a></li>
  <li><a href="#Sat">Saturday Schedule</a></li>
  <li><a href="#Sun">Sunday Schedule</a></li>
</ul>

{% include activities/schedule_legend.html %}
{% include activities/convention_schedule_table.html %}
