---
title: Death Match Application
---
{% assign ab_optional_label = "col-xl-3 col-lg-4 control-label" %}
{% assign ab_required_label = "col-xl-3 col-lg-4 control-label required" %}
{% assign ab_optional_short_label = "col-xl-2 col-lg-4 control-label" %}
{% assign ab_required_short_label = "col-xl-2 col-lg-4 control-label required" %}

{% include participation/cosplay_events_menu.html %}

<p>Please fill out the information below to apply to Death Match Events for Anime Boston 2020</p>
<p>Once you've submitted an application, you may still edit it below.</p>
<p class="text-danger">Application Submitted: 11-08-2020 2:05pm</p>
<p>
  <strong>Description:</strong>
  32 contestants will enter, only one reigns supreme! Characters go head to head to win audience favor and claim ultimate victory! In each fight, two teams (typically one character, but pairs/teams are also accepted) enter on stage and the audience cheers for their favorite. The loser is wonderfully slaughtered by the winner in mock combat and the winner moves to the next round. The last one standing is declared the fan favorite for the year! NOTE: As Anime Boston is an anime convention, cosplays from Japanese sources such as anime, manga, video games, or other Japanese media, have a much higher chance of being accepted.
</p>

<form class="form-horizontal" name="cosplay_event_form" action="/AB-Site-Redesign/applications/cosplay/events/cosplay_game.html" method="get">
  <p><span class="required">*</span> = Required information</p>
  <p>Please select up to 3 costumes:</p>
  {% for costume in (1..3) %}
  <div class="row form-group">
    <label for="primary_first_name" class="{{ ab_required_label }}">Costume {{ costume }} *</label>
    <div class="col-lg-5">
      <select class="form-control">
        <option>Select One</option>
        <option>Iskander</option>
        <option>Aburame Shino</option>
        <option>Kirishima</option>
      </select>
    </div>
  </div>
  {% endfor %}
  <div class="row form-group">
    <label class="{{ ab_optional_label }}">Additional Group Members</label>
    <div class="col-lg-8">
      <div class="input-subtitle">
        How many <em>other</em> members of the group will there be?<br>
        Each group member should submit their own application for this event. Please list them below however, to be marked together.
      </div>
      <select class="form-control" name="additional_members" onchange="show()">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>
  {% for i in (1..3) %}
  <div id="member{{ i }}" style="display:none;">
    <div class="row"><div class="col"><hr></div></div>
    <div class="row form-group">
      <label class="{{ ab_required_label }}">Member {{ i }}</label>
      <div class="col-lg-8">
        <div class="form-inline">
          <label class="required">First Name</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
        <div class="form-inline">
          <label class="required">Last Name</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
        <div class="form-inline">
          <label>Stage Name</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
        <div class="form-inline">
          <label class="required">Character Name</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
        <div class="form-inline">
          <label class="required">Series</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row form-group">
    <label class="{{ ab_required_label }}">Rules</label>
    <div class="col-lg-8">
      <label>
        <input name="rules" value="Yes" type="checkbox">
        I have read and agree to abide by all rules, directions, and polices of Anime Boston and the Anime Boston Cosplay Events as linked from the
        <a href="/cosplay/" target="_blank">Cosplay page</a>.
      </label>
    </div>
  </div>
  <div class="submit-buttons">
    <input type="submit" name="submit" class="btn btn-success" value="Submit Application">
    <input type="submit" name="delete" class="btn btn-danger" value="Delete Application">
  </div>
</form>

<script type = "text/javascript">
  function show()
  {
    var intCount = document.cosplay_event_form.additional_members.options.length;
    var intValue = document.cosplay_event_form.additional_members.value;

    for(i = 1; i <= intValue; i++)
    {
      assoc = "member"+i;
      hidden_row_object = document.getElementById(assoc);
      hidden_row_object.style.display = '';
    }

    for(j = intCount - 1; j > intValue; j--)
    {
      console.log(j);
      assoc = "member"+j;
      hidden_row_object = document.getElementById(assoc);
      hidden_row_object.style.display = 'none';
    }
  }
</script>
