---
title: Idol Showcase Application
---
{% assign ab_optional_label = "col-xl-3 col-lg-4 control-label" %}
{% assign ab_required_label = "col-xl-3 col-lg-4 control-label required" %}
{% assign ab_optional_short_label = "col-xl-2 col-lg-4 control-label" %}
{% assign ab_required_short_label = "col-xl-2 col-lg-4 control-label required" %}

{% include participation/cosplay_events_menu.html %}

<p>Please fill out the information below to apply to Idol Showcase Events for Anime Boston 2020</p>
<p>Once you've submitted an application, you may still edit it below.</p>

<form class="form-horizontal" name="cosplay_event_form" action="/AB-Site-Redesign/applications/cosplay/events/idol_showcase.html" method="get">
  <p><span class="required">*</span> = Required information</p>
  <p><strong>Description:</strong> Solo acts and groups have 5 minutes in the spotlight to show off their dance moves and wow the crowd with their favorite songs from idol series. This event is first-come-first-served, but applications must be fully filled out or they will not be counted. Please read the event rules before submitting an application. STAGE NAME refers to the preferred name of the performer. PERFORMANCE TITLE refers to the name of the group performing (Can be the name of the idol group being cosplayed or the name of your dance troupe). PERFORMANCE DESCRIPTION refers to a list of songs being submitted and/or a general description of the performance the audience will see.</p>

  <div class="row form-group">
    <label for="stage_name" class="{{ ab_optional_label }}">Stage Name</label>
    <div class="col-lg-6">
      <input type="text" name="stage_name" class="form-control" maxlength="70">
    </div>
  </div>
  <div class="row form-group">
    <label for="character_name" class="{{ ab_required_label }}">Leader Character Name *</label>
    <div class="col-lg-6">
      <input type="text" name="character_name" class="form-control" maxlength="70">
    </div>
  </div>
  <div class="row form-group">
    <label for="character_series" class="{{ ab_required_label }}">Leader Character Series *</label>
    <div class="col-lg-6">
      <input type="text" name="character_series" class="form-control" maxlength="70">
    </div>
  </div>
  <div class="row form-group">
    <label for="skit_title" class="{{ ab_required_label }}">Performance Title *</label>
    <div class="col-lg-8">
      <input type="text" name="skit_title" class="form-control" maxlength="70">
    </div>
  </div>
  <div class="row form-group">
    <label for="skit_description" class="{{ ab_required_label }}">Performance Description *</label>
    <div class="col-lg-8">
      <textarea name="skit_description" class="form-control" rows="3" cols="40"></textarea>
    </div>
  </div>
  <div class="row form-group">
    <label for="file" class="{{ ab_optional_label }}">A/V File</label>
    <div class="col-lg-8">
      <span class="input-subtitle">This is to upload a background audio or video file for your performance.</span>
      <span class="input-subtitle">You may upload a new file below:</span>
      <input type="file" name="file">
      <span class="input-subtitle">
        File may not exceed 500MB in size.<br>
        It is highly advised that large files be uploaded over a wired connection to avoid timeouts.
      </span>
    </div>
  </div>
  <div class="row form-group">
    <label class="{{ ab_optional_label }}">Additional Group Members</label>
    <div class="col-lg-8">
      <div class="input-subtitle">
        How many <em>other</em> members of the group will there be?<br>
        Each group member should submit their own application for this event. Please list them below however, to be marked together.
      </div>
      <select class="form-control" name="additional_members" onchange="show()">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>
  {% for i in (1..3) %}
  <div id="member{{ i }}" style="display:none;">
    <div class="row"><div class="col"><hr></div></div>
    <div class="row form-group">
      <label class="{{ ab_required_label }}">Member {{ i }}</label>
      <div class="col-lg-8">
        <div class="form-inline">
          <label class="required">First Name</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
        <div class="form-inline">
          <label class="required">Last Name</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
        <div class="form-inline">
          <label>Stage Name</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
        <div class="form-inline">
          <label class="required">Character Name</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
        <div class="form-inline">
          <label class="required">Series</label>
          <input type="text" class="form-control" maxlength="70">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row form-group">
    <label class="{{ ab_required_label }}">Rules</label>
    <div class="col-lg-8">
      <label>
        <input name="rules" value="Yes" type="checkbox">
        I have read and agree to abide by all rules, directions, and polices of Anime Boston and the Anime Boston Cosplay Events as linked from the
        <a href="/cosplay/" target="_blank">Cosplay page</a>.
      </label>
    </div>
  </div>
  <div class="submit-buttons">
    <input type="submit" name="submit" class="btn btn-success" value="Submit Application">
    <input type="submit" name="delete" class="btn btn-danger" value="Delete Application">
  </div>
</form>

<script type = "text/javascript">
function show()
{
  var intCount = document.cosplay_event_form.additional_members.options.length;
  var intValue = document.cosplay_event_form.additional_members.value;

  for(i = 1; i <= intValue; i++)
  {
    assoc = "member"+i;
    hidden_row_object = document.getElementById(assoc);
    hidden_row_object.style.display = '';
  }

  for(j = intCount - 1; j > intValue; j--)
  {
    console.log(j);
    assoc = "member"+j;
    hidden_row_object = document.getElementById(assoc);
    hidden_row_object.style.display = 'none';
  }
}
</script>
