---
title: Media
---
<h1>Media</h1>
<!-- <img src="https://via.placeholder.com/150x200"> -->

<h2>Program Guides</h2>
<p>
  A Program Guide is a time capsule from each Anime Boston convention;
  these guides provide an exciting look at the events, guests, programs,
  and popular media of yesteryear. Containing original art and content,
  each Program Guide is a keepsake created by our Publications Department.
</p>
<p>Several of the Program Guides from past Anime Boston conventions are available below in PDF format.</p>

<div class="row">
  {% for program_guide in site.data.program_guides %}
    <div class="col-12 col-md-2 text-center">
      <a href="{{ program_guide.link }}">
        <h3>{{ program_guide.year }}</h3>
        <img class="img-fluid" src="{{ program_guide.image }}" alt="Program Guide AB {{ program_guide.year }}">
      </a>
    </div>
  {% endfor %}
</div>

<hr>

<h2>Wallpapers</h2>
<p>
  Our Publications and Art staffers have been hard at work to create wallpapers
  for Anime Boston. We offer wallpaper selections based on the yearly themes,
  as well as general Anime Boston themes and other fun stuff.
  Now you can show your enthusiasm and support for Anime Boston at work, school,
  or home - even after the convention doors have closed for the year.
</p>

{% for wallpaper in site.data.wallpapers %}
<h3>{{ wallpaper.title }}</h3>
<div class="row">
  {% for wp in wallpaper.wallpapers %}
    <div class="col-12 col-md-3 text-center">
      <label class="d-block">{{ wp.title }}</label>
      <img class="img-fluid" src="https://www.animeboston.com{{ wp.image }}">
      <small>
        {% for download in wp.downloads %}
        <a href="https://www.animeboston.com{{download.file}}">
          {{ download.title }}
        </a>
        {% endfor %}
      </small>
    </div>
  {% endfor %}
</div>
{% endfor %}
